ol.breadcrumb
    li
        a(ui-sref='index') Home
    li.active link
form.form-inline(role='form').margin-btm
    .form-group
        select.form-control.input-sm
            option options
            option 1
            option 2
    .form-group
        select.form-control.input-sm
            option options
            option 2
    .form-group
        select.form-control.input-sm
            option options
            option 2
    .form-group
        select.form-control.input-sm
            option options
            option 2
    .form-group
        p.form-control-static keywords
    .form-group
        label.sr-only(for='inputPassword2') keywords
        input.form-control.input-sm#keywords(type='password', placeholder='keywords')
    button.btn.btn-primary.btn-sm(type='submit')
        | Search
        i.fa.fa-search.fa-fw
.panel.panel-info
    table.table.table-bordered
        tr.info.thead
            th
                input(type='checkbox')
                | &nbsp;
                a(href='javascript:;') ID
                i.fa.fa-caret-down.fa-fw.text-danger
            th Attr1
            th Attr2
            th Attr3
            th Attr4
            th Attr5
            th Attr6
        tr
            td TD
            td TD
            td TD
            td TD
            td TD
            td TD
            td.td-opt
                a.fa.fa-eye.fa-fw(href='javascript:;', title='view')
                a.fa.fa-edit.fa-fw(href='javascript:;', title='edit')
                a.fa.fa-copy.fa-fw(href='javascript:;', title='copy')
                a.fa.fa-trash.fa-fw(href='javascript:;', title='delete')
                a.fa.fa-list.fa-fw(href='javascript:;', title='list')
        tr
            td TD
            td TD
            td TD
            td TD
            td TD
            td TD
            td.td-opt
                a.fa.fa-eye.fa-fw(href='javascript:;', title='view')
                a.fa.fa-edit.fa-fw(href='javascript:;', title='edit')
                a.fa.fa-copy.fa-fw(href='javascript:;', title='copy')
                a.fa.fa-trash.fa-fw(href='javascript:;', title='delete')
                a.fa.fa-list.fa-fw(href='javascript:;', title='list')
        tr
            td(colspan='7').pager
                .form.form-inline(role='form')
                    .form-group
                        p.form-control-static total 22, page: 2, current: 1，pageNumber
                    .form-group.page-num
                        input.form-control.input-sm(type='text', placeholder='1')
                    .form-group
                        .btn-group.btn-group-sm
                            button.btn.btn-default(type='button') &laquo;
                            button.btn.btn-default(type='button') <
                            button.btn.btn-default(type='button') >
                            button.btn.btn-default(type='button') &raquo;
                    .form-group
                        select.form-control.input-sm
                            option 1
                            option 2
                            option 3
form.form-inline(role='form').margin-btm
    .form-group
        select.form-control.input-sm
            option options...
            option 1
            option 2
    button.btn.btn-primary.btn-sm button
.panel.panel-info.copyright
    .panel-body
        span lalala
        br
        span Copyright © 2005-2014 Cungen，And all rights reserved。
