ol.breadcrumb
    li.active Dashboard
.row
    .col-xs-12
        .panel.panel-info
            .panel-heading Panel 1
            table.table.table-bordered.table-col-4
                tr
                    td: a(href='#') Something like ...
                    td 4
                    td: a(href='#') Something like ...
                    td 3
                tr
                    td: a(href='#') Something like ...
                    td 3
                    td: a(href='#') Something like ...
                    td 3
                tr
                    td: a(href='#') Something like ...
                    td 2
                    td
                    td
                tr
                    td: a(href='#') Something like ...
                    td 1
                    td
                    td
        .panel.panel-info
            .panel-heading Panel 1
            table.table.table-bordered.table-col-4
                tr
                    td: a(href='#') Something like ...
                    td 4
                    td: a(href='#') Something like ...
                    td 3
                tr
                    td: a(href='#') Something like ...
                    td 3
                    td: a(href='#') Something like ...
                    td 3
                tr
                    td: a(href='#') Something like ...
                    td 2
                    td
                    td
                tr
                    td: a(href='#') Something like ...
                    td 1
                    td
                    td
