div.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
    .container-fluid()
        .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#usernav')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(ui-sref='index') Dashboard
        .collapse.navbar-collapse#usernav
            ul.nav.navbar-nav.navbar-right
                li
                    a(ui-sref='index') Link
                li.dropdown
                    a.dropdown-toggle(href='javascript:;', data-toggle='dropdown')
                        i.fa.fa-user.fa-fw
                        | Cungen
                        i.fa.fa-caret-down.fa-fw
                    ul.dropdown-menu(role='menu')
                        li
                            a(href='javascript:;') about
                        li.divider
                        li
                            a(href='/views/login/login.html') logout
