.sub-container(ng-controller='SubController')
    ul.nav.nav-pills.nav-stacked(role='tablist')
        li(role='presentation', ng-class='{active: nav=="index"}')
            a(ui-sref='index') Dashboard
        li(role='presentation', ng-class='{active: nav=="link"}')
            a(ui-sref='link') Link
        li(role='presentation', ng-class='{active: nav=="test"}')
            a Link
        li(role='presentation', ng-class='{active: nav=="test"}')
            a Link
        li(role='presentation', ng-class='{active: nav=="test"}')
            a Link
        li(role='presentation', ng-class='{active: nav=="test"}')
            a Link
